<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gatech.cs2340.android.drop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Welcome Activity -->
        <activity
            android:name=".controllers.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Login Activity -->
        <activity
            android:name=".controllers.LoginActivity"
            android:label="Sign In"
            android:parentActivityName=".controllers.LoginActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.WelcomeActivity" />
        </activity>
        <!-- Register Activity -->
        <activity
            android:name=".controllers.RegisterActivity"
            android:label="Register"
            android:parentActivityName=".controllers.RegisterActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.WelcomeActivity" />
        </activity>
        <!-- Retrieve Password Activity -->
        <activity
            android:name=".controllers.RetrievePasswordActivity"
            android:label="Retrieve Password"
            android:parentActivityName=".controllers.RetrievePasswordActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.RegisterActivity" />
        </activity>
        <!-- Report Activity -->
        <activity
            android:name=".controllers.ReportActivity"
            android:label="Reports"
            android:parentActivityName=".controllers.ReportActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.ReportActivity" />
        </activity>
        <!-- Map Activity -->
        <activity
            android:name=".controllers.MapActivity"
            android:label="Map"
            android:parentActivityName=".controllers.MapActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.ReportActivity" />
        </activity>
        <!-- Add Report Activity -->
        <activity
            android:name=".controllers.AddReportActivity"
            android:label="Add Report"
            android:parentActivityName=".controllers.AddReportActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.ReportActivity" />
        </activity>
        <!-- Historical Report Activity -->
        <activity
            android:name=".controllers.HistoricalActivity"
            android:label="Historical Report"
            android:parentActivityName=".controllers.HistoricalActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.ReportActivity" />
        </activity>
        <!-- Setting Activity -->
        <activity
            android:name=".controllers.SettingActivity"
            android:label="Setting"
            android:parentActivityName=".controllers.SettingActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.ReportActivity" />
        </activity>
        <!-- Edit Profile Activity -->
        <activity
            android:name=".controllers.EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".controllers.EditProfileActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.SettingActivity" />
        </activity>
        <activity
            android:name=".controllers.SourceReportActivity"
            android:label="@string/title_activity_source_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controllers.PurityReport" />
        <activity android:name=".controllers.EditSourceReport"></activity>
    </application>

</manifest>